<section class="dashboardPageA">
  <div class="dashboardHeaderA">
         <div class="landingPageLogo">
    </div>
      <h1>Home Buddy</h1>
    <div class="logoutBtnA">
      <a href="/" style="text-decoration: none;">Logout</a>
    </div>
  </div>
  <div class="iconContainerA">
    <section class="iconsA">
      <div class="acIconA">
        <a href="/dashboard/air-conditioner" style="text-decoration: none;">Air Conditioner</a>
      </div>
      <div class="fireplaceIconA">
        <a href="/dashboard/fireplace" style="text-decoration: none;">Fireplace</a>
      </div>
      <div class="gasIconA">
        <a href="/dashboard/gas" style="text-decoration: none;">Gas</a>
      </div>
      <div class="lawnIconA">
        <a href="/dashboard/lawn" style="text-decoration: none;">Lawn</a>
      </div>
      <div class="trashIconA">
        <a href="/dashboard/trash" style="text-decoration: none;">Trash</a>
      </div>
      <div class="waterIconA">
        <a href="/dashboard/water-tank" style="text-decoration: none;">Water Tank</a>
      </div>
      <div class="phoneIconA">
        <a href="/dashboard/phone" style="text-decoration: none;">Phone</a>
      </div>
      <div class="addIconA">
        <a href="/dashboard/add" style="text-decoration: none;">Add</a>
      </div>
    </section>
    <div class="addSchedules">
      <h2>Coming Soon!</h2>
      <div class="addSchedulesList">
        <h6>- Create a Template of your own!</h6>
        <h6>- Use that Template for your dialy life!</h6>
        <h6>- Allow nodifications for your custom Templates!</h6>
      </div>
    </div>
  </div>
</section>