<section class="dashboardPageAC">
  <div class="dashboardHeaderAC">
       <div class="landingPageLogo">
    </div>
      <h1>Home Buddy</h1>
    <div class="logoutBtnAC">
          <a href="/" style="text-decoration: none;">Logout</a>
    </div>
  </div>
  <div class="iconContainerAC">
    <section class="iconsAC">
      <div class="acIconAC">
        <a href="/dashboard/air-conditioner" style="text-decoration: none;">Air Conditioner</a>
      </div>
      <div class="fireplaceIconAC">
        <a href="/dashboard/fireplace" style="text-decoration: none;">Fireplace</a>
      </div>
      <div class="gasIconAC">
        <a href="/dashboard/gas" style="text-decoration: none;">Gas</a>
      </div>
      <div class="lawnIconAC">
        <a href="/dashboard/lawn" style="text-decoration: none;">Lawn</a>
      </div>
      <div class="trashIconAC">
        <a href="/dashboard/trash" style="text-decoration: none;">Trash</a>
      </div>
      <div class="waterIconAC">
        <a href="/dashboard/water-tank" style="text-decoration: none;">Water Tank</a>
      </div>
      <div class="phoneIconAC">
        <a href="/dashboard/phone" style="text-decoration: none;">Phone</a>
      </div>
      <div class="addIconAC">
        <a href="/dashboard/add" style="text-decoration: none;">Add</a>
      </div>
    </section>
    <div class="acSchedules">
      <h2>Schedules:</h2>
      <div class="acSchedulesList">
        <h6>Date:</h6>
        <h6>Action:</h6>
        <h6>Item Info:</h6>
        <h6>Notes:</h6>
        <h6>Status:</h6>
      </div>
    </div>
  </div>
</section>