<section class="dashboardPageAC">
  <div class="dashboardHeaderAC">
    <div>
      <img src="/images/Home Buddy-logos.jpeg" alt="logo" />
      <h1>Home Buddy</h1>
    </div>
    <div class="logoutBtnAC">
      Logout
    </div>
  </div>
  <div class="iconContainerAC">
    <section class="iconsAC">
      <div class="acIconAC">
      </div>
      <div class="fireplaceIconAC">
      </div>
      <div class="gasIconAC">
      </div>
      <div class="lawnIconAC">
      </div>
      <div class="trashIconAC">
      </div>
      <div class="waterIconAC">
      </div>
      <div class="phoneIconAC">
      </div>
      <div class="addIconAC">
      </div>
    </section>
    <div class="acSchedules">
      <h2>Schedules</h2>
      <h6>date</h6>
      <h6>Action</h6>
      <h6>Item Info</h6>
      <h6>Notes</h6>
      <h6>Status</h6>
    </div>
  </div>
</section>