<section class="dashboardPage">
  <div class="dashboardHeader">
    <div>
      <!-- <img src="/images/Home Buddy-logos.jpeg" alt="logo" /> -->
      <h1>Home Buddy</h1>
    </div>
    <div id="logoutBtn" class="logoutBtn">
      Logout
    </div>
  </div>
  <section class="icons">
    <div class="acIcon">
        <a href="/dashboard/air-conditioner" style="text-decoration: none;">Air Conditioner</a>
    </div>
    <div class="fireplaceIcon">
      <a href="/dashboard/fireplace" style="text-decoration: none;">Fireplace</a>
    </div>
    <div class="gasIcon">
      <a href="/dashboard/gas" style="text-decoration: none;">Gas</a>
    </div>
    <div class="lawnIcon">
      <a href="/dashboard/lawn" style="text-decoration: none;">Lawn</a>
    </div>
    <div class="trashIcon">
      <a href="/dashboard/trash" style="text-decoration: none;">Trash</a>
    </div>
    <div class="waterIcon">
      <a href="/dashboard/water-tank" style="text-decoration: none;">Water Tank</a>
    </div>
    <div class="phoneIcon">
      <a href="/dashboard/phone" style="text-decoration: none;">Phone</a>
    </div>
    <div class="addIcon">
      <a href="/dashboard/add" style="text-decoration: none;">Add</a>
    </div>
  </section>
</section>
<script src="/javascript/logout.js"></script>