<section class="dashboardPage">
  <div class="dashboardHeader">
    <div>
      <img src="/images/Home Buddy-logos.jpeg" alt="logo" />
      <h1>Home Buddy</h1>
    </div>
    <div class="logoutBtn">
      Logout
    </div>
  </div>
  <section class="icons">
    <div class="acIcon">
        <a href="/dashboard/air-conditioner">Air Conditioner</a>
    </div>
    <div class="fireplaceIcon">
    </div>
    <div class="gasIcon">
    </div>
    <div class="lawnIcon">
    </div>
    <div class="trashIcon">
    </div>
    <div class="waterIcon">
    </div>
    <div class="phoneIcon">
    </div>
    <div class="addIcon">
    </div>
  </section>
</section>