<section class="dashboardPage">
  <div class="dashboardHeader">
    <div>
      <h1><a href="/">Home Buddy</a></h1>
    </div>
    <div id="logoutBtn2" class="logoutBtn" onclick="logoutHandler()">
      Logout
    </div>
  </div>
  <section class="icons">
    <a href="/dashboard/air-conditioner" alt="Air Conditioner"><div class="acIcon"></div></a>
    <div class="fireplaceIcon">
    </div>
    <div class="gasIcon">
    </div>
    <div class="lawnIcon">
    </div>
    <div class="trashIcon">
    </div>
    <div class="waterIcon">
    </div>
    <div class="phoneIcon">
    </div>
    <div class="addIcon">
    </div>
  </section>
</section>