<section class="dashboardPageFB">
  <div class="dashboardHeaderFB">
    <div>
      <img src="Home Buddy-logos.jpeg" alt="logo" />
      <h1>Home Buddy</h1>
    </div>
    <div class="logoutBtnFB">
      Logout
    </div>
  </div>
  <div class="iconContainerFB">
    <section class="iconsFB">
      <div class="acIconFB">
        <a href="/dashboard/air-conditioner" style="text-decoration: none;">Air Conditioner</a>
      </div>
      <div class="fireplaceIconFB">
        <a href="/dashboard/fireplace" style="text-decoration: none;">Fireplace</a>
      </div>
      <div class="gasIconFB">
        <a href="/dashboard/gas" style="text-decoration: none;">Gas</a>
      </div>
      <div class="lawnIconFB">
        <a href="/dashboard/lawn" style="text-decoration: none;">Lawn</a>
      </div>
      <div class="trashIconFB">
        <a href="/dashboard/trash" style="text-decoration: none;">Trash</a>
      </div>
      <div class="waterIconFB">
        <a href="/dashboard/water-tank" style="text-decoration: none;">Water Tank</a>
      </div>
      <div class="phoneIconFB">
        <a href="/dashboard/phone" style="text-decoration: none;">Phone</a>
      </div>
      <div class="addIconFB">
        <a href="/dashboard/add" style="text-decoration: none;">Add</a>
      </div>
    </section>
    <div class="fireplaceSchedules">
      <h2>Schedules:</h2>
      <div class="fireplaceSchedulesList">
        <h6>Date:</h6>
        <h6>Action:</h6>
        <h6>Notes:</h6>
        <h6>Status:</h6>
      </div>
    </div>
  </div>
</section>