<section class="landingPage">
  <div class="landingHeader">
    <!-- <img src="/images/Home Buddy-logos.jpeg" alt="logo" /> -->
    <h1>Home Buddy</h1>
  </div>
  <div class="landingSlogan">
     <h2>Where every home has a Buddy!</h2>
  </div>
  <ul class="landingBtn">
     <a href="/login" style="text-decoration: none;">
    <li id="loginBtnHome">Login</li>
    </a>
    <a href="/signup" style="text-decoration: none;">
    <li id="signupBtn">Sign Up</li>
    </a>
  </ul>
</section>