<body class="loginBody">
  <div class="loginPhoto">

  </div>
  <main class="loginForm">
    <form>
      <h1 class="loginPrompt">Please Login</h1>

      <div id="loginEmail">
        Email address
        <input
          type="email"
          class="form-control"
          id="loginEmailID"
          placeholder="name@example.com"/>
         </div>
      <div class="loginPassword">
        Password
        <input
          type="password"
          class="form-control"
          id="loginPasswordID"
          placeholder="Password"/> 
          </div>

      <div class="checkboxLogin">
        <label>
          <input type="checkbox" value="remember-me" />
          Remember me
        </label>
      </div>
      <div class="termRemind">
        <h6>
          By clicking Join now, you agree to Home Buddy's <p> User Agreement, Privacy Policy, and Cookie Policy.</p>
        </h6>
      </div>
      <button id="loginBtn" type="submit"><a href="/dashboard" style="text-decoration: none;">
          Login
      </a></button>
    </form>
  </main>
</body>
<script src="/javascript/login.js"></script>
