<div class="loginBody">
    <div class="loginPhoto"></div>
    <main class="loginForm">
    <form id="loginForm">
        <h1 class="loginPrompt">Please Login</h1>

        <div class="loginEmail">
        Email address
        <input
            type="email"
            class="form-control"
            id="loginEmailID"
            placeholder="name@example.com"/>
        </div>
        <div class="loginPassword">
        Password
        <input
            type="password"
            class="form-control"
            id="loginPasswordID"
            placeholder="Password"/> 
            </div>

        <div class="checkboxLogin">
        <label>
            <input type="checkbox" value="remember-me" />
            Remember me
        </label>
        </div>
        <div class="termRemind">
        <h6>
            By clicking Join now, you agree to Home Buddy's <p> User Agreement, Privacy Policy, and Cookie Policy.</p>
        </h6>
        </div>
        <a href="/dashboard">
        <button id="loginBtn">
            Login
        </button>
        </a>
    </form>
    </main>
</div>
<script src="/javascript/login.js"></script>