<section class="landingPage">
  <div class="landingHeader">
    <img src="/images/Home-Buddy-logos.jpeg" alt="logo" />
    <h1>Home Buddy</h1>
  </div>
  <div class="landingSlogan">
     <h2>Where every home has a Buddy!</h2>
  </div>
  <ul class="landingBtn">
    <li id="loginBtn">Login</li>
    <li id="signupBtn">Sign Up</li>
  </ul>
</section>