<div class="signupBody">
  <div class="signupPhoto">

  </div>
  <main class="signupForm">
    <form id="signupForm">
      <h1 class="signupPrompt">Please sign up</h1>

      <div class="signinEmail">
        Email address
        <input
          type="email"
          class="form-control"
          id="signinEmailID"
          placeholder="name@example.com"
        />
      </div>
      <div class="signinPassword">
        Password
        <input
          type="password"
          class="form-control"
          id="signinPasswordID"
          placeholder="Password"
        />
      </div>

      <div class="checkboxSignup">
        <label>
          <input type="checkbox" value="remember-me" />
          Remember me
        </label>
      </div>
      <div class="termRemind">
        <h6>
          By clicking Join now, you agree to Home Buddy's
          <p> User Agreement, Privacy Policy, and Cookie Policy.</p>
        </h6>
      </div>
      <a href="/dashboard">
        <button id="signinBtn" type="submit">
          Sign up
        </button>
      </a>
    </form>
  </main>
</div>
<script src="/javascript/signup.js"></script>