/* Start of Landing Page */
.landingPage {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    background-image: url(https://wallpaperaccess.com/full/259715.jpg);
    background-size: cover;
    height: 600px;
  }
  
  .landingPage h1 {
    font-size: 30px;
    margin-bottom: 15px;
    margin-top: 15px;
  }
  
  .landingHeader {
    border: solid 2px black;
    background-color: #136bc2;
    color: white;
    text-align: center;
    cursor: default;
  }
  
  .landingSlogan {
    border: solid 3px black;
    background-color: rgba(0, 83, 190, 0.95);
    border-radius: 16px;
    color: white;
    align-self: center;
    text-align: center;
    padding: 20px;
    margin: 30px 0px 30px 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: 80px;
    cursor: default;
  }
  
  .landingBtn {
    font-size: 30px;
    width: 300px;
    margin: 4px;
    padding: 4px;
    list-style: none;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: white;
  }
  
  a:link a:visited a:hover {
    text-decoration: none;
  }
  
  #loginBtnHome {
    background-color: rgba(0, 83, 190, 0.8);
    border: solid 3px black;
    border-radius: 50px;
    margin: 20px;
    padding: 20px;
    cursor: pointer;
    color: white;
  }
  
  #loginBtnHome:hover {
      background-color: rgba(0, 110, 255, 0.8);
      color: black;
    }
  
  #signupBtn {
    background-color: rgba(0, 83, 190, 0.8);
    border: solid 3px black;
    border-radius: 50px;
    margin: 20px;
    padding: 20px;
    cursor: pointer;
    color: white;
  }
  
  #signupBtn:hover {
      background-color: rgba(0, 110, 255, 0.8);
      color: black;
    }
  /* End of Landing Page */
  
  /* Start of Sign-up Page */
  .signupBody {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    background-color: grey;
    height: 600px;
    display: flex;
    align-items: stretch;
    background-image: url(https://images.unsplash.com/photo-1533090161767-e6ffed986c88?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8bWluaW1hbGlzdCUyMGhvbWV8ZW58MHx8MHx8&w=1000&q=80);
    background-size:cover;
    background-position: center;
    text-align: center;
  }
  
  .signupPhoto {
    background-image: url(https://images.pond5.com/happy-family-look-new-house-footage-075336944_prevstill.jpeg);
    background-size:cover;
    background-position: 40%;
    box-shadow: 20px;
    width: 30%;
    box-shadow: 3px 5px 10px black;
  }
  
  .signupForm {
    background-color: rgba(255,255,255,0.9);
    border-radius: 20px;
    margin: 50px 16% 50px 16%;
    padding: 20px;
    width: 70%;
    box-shadow: 3px 5px 10px black;
  }
  
  #signinBtn {
    background-color: rgba(0, 83, 190, 0.8);
    border: solid 2px black;
    border-radius: 5px;
    color: white;
    margin: 10px;
    padding: 10px;
    width: 90%;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
  }

  #signinBtn a {
    color: white;
    padding: 18px 200px 18px 200px;
  }
  
  #signinBtn:hover {
      background-color: rgba(0, 110, 255, 0.8);
      color: white;
    }
  
  .signinEmail {
    margin: 20px
  }
  
  .signinPassword {
    margin: 20px
  }
  
  .termRemind p {
    font-weight: bold;
  }
  
  /* End of Sign-Up Page */
  
  /* Start of Login Page */
  .loginBody {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    background-color: grey;
    height: 600px;
    display: flex;
    align-items: stretch;
    background-image: url(https://i.pinimg.com/originals/71/de/b9/71deb98353483d76d40dfc8d9a4f8265.jpg);
    background-size:cover;
    background-position: center;
    text-align: center;
  }
  
  .loginPhoto {
    background-image: url(https://www.thepragmaticparent.com/wp-content/uploads/2016/05/ongap_.jpg);
    background-size:cover;
    background-position: 70%;
    box-shadow: 20px;
    width: 30%;
    box-shadow: 3px 5px 10px black;
  }
  
  .loginForm {
    background-color: rgba(255,255,255,0.9);
    border-radius: 20px;
    margin: 50px 16% 50px 16%;
    padding: 20px;
    width: 70%;
    box-shadow: 3px 5px 10px black;
  }
  
  #loginBtn {
    background-color: rgba(0, 83, 190, 0.8);
    border: solid 2px black;
    border-radius: 5px;
    color: white;
    margin: 10px;
    padding: 10px;
    width: 90%;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
  }

  #loginBtn a {
    color: white;
    padding: 18px 210px 18px 210px;
  }
  
  #loginBtn:hover {
      background-color: rgba(0, 110, 255, 0.8);
      color: white;
    }
  
  .loginEmail {
    margin: 20px
  }
  
  .loginPassword {
    margin: 20px
  }
  
  /* End of Login Page */
  